html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-image: url('image/bg.jpg');
    /*设置鼠标样式，如果指定的图片找不到，就使用鼠标默认样式*/
    cursor: url('image/cursor.png'),auto;/*cursor:光标*/

    /*弹性布局*/
    display: flex;
    /*交叉轴对齐方式*/
    align-items: center;
    /*主轴对齐方式*/
    justify-content: center;/*justify:调整*/
}

div{
    margin: 30px;
    width: 137px;
    height: 90px;
    background-image: url('image/hole.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}
div>img{
    width: 80px;
    height: 0;
    position: absolute;
    bottom: 20px;
    left: calc((100% - 80px)/2);
}

p{
    position: fixed;
    left: 0;
    vertical-align: middle;/*竖直居中*/
    width: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
}

/* @keyframes moveIn{
    from{
        height: 70px;
    }to{
        height: 0;
    }
} */